In [1]:
import pandas as pd
import numpy as np
import matplotlib as mt
import glob as glob

In [2]:
filenames = glob.glob('Combined_*[a,b,c,d,e,f,g,h,i,j,k]*160c.dta')
list_of_all_dfs  = [pd.read_stata(f) for f in filenames]

In [3]:
prev = [list_of_all_dfs[i].filter(regex='jbhrcpr$') for i in range(11)]
sex = [list_of_all_dfs[i].filter(regex='hgsex$') for i in range(11)]
job = [list_of_all_dfs[i].filter(regex='esbrd$') for i in range(11)]
status = [list_of_all_dfs[i].filter(regex='esdtl$') for i in range(11)]

#make them into DataFrames
job = [pd.DataFrame(job[i]) for i in range(11)]
sex = [pd.DataFrame(sex[i]) for i in range(11)]
prev = [pd.DataFrame(prev[i]) for i in range(11)]
status = [pd.DataFrame(status[i]) for i in range(11)]

In [4]:
# looking to cut down to just full time employed Australians

In [18]:
result1 = [pd.merge(prev[i], status[i], left_index=True, right_index=True) for i in range(11)]
result1 = [pd.merge(result1[i], sex[i], left_index=True, right_index=True) for i in range(11)]

In [19]:
#getting results for just full-time employed
ft = [result1[i][result1[i].iloc[:, -2] == '[1] Employed FT'] for i in range(11)]

In [20]:
#again narrowing to full time females.
ftf = [ft[i][ft[i].iloc[:, -1] == '[2] Female'] for i in range(11)]

In [21]:
#looking at just the jbhrcpr variable 
ftf1 = [ftf[i].filter(regex='jbhrcpr$') for i in range(11)]

In [22]:
#getting a count for every variable
ftf1 = [pd.DataFrame(ftf1[i].iloc[:,0].value_counts()) for i in range(11)]

In [23]:
#getting total number of observations
total = [ftf1[i].sum() for i in range(11)]
total = [pd.DataFrame(total[i]) for i in range(11)]
total = [total[i].T for i in range(11)]

In [24]:
# working out percentages
percent = [pd.DataFrame(ftf[i].iloc[:,0].value_counts(normalize=True))*100 for i in range(11)]
percent = [round(percent[i], 1) for i in range(11)]

In [25]:
#dropping unwanted responses
percent2 = [percent[i].drop(['[-1] Not asked', '[-1] Not asked', '[-10] Non-responding person', '[2] About the same', '[-3] Dont know', '[-4] Refused/Not stated'], errors='ignore') for i in range(11)]

In [26]:
#adding total into table
final = [pd.concat([total[i], percent2[i]]) for i in range(11)]

In [27]:
# doing a manual merge for now :/
merge0 = pd.merge(final[0], final[1], left_index=True, right_index=True)
merge1 = pd.merge(merge0, final[2],left_index=True, right_index=True)
merge2 = pd.merge(merge1, final[3],left_index=True, right_index=True)
merge3 = pd.merge(merge2, final[4],left_index=True, right_index=True)
merge4 = pd.merge(merge3, final[5],left_index=True, right_index=True)
merge5 = pd.merge(merge4, final[6],left_index=True, right_index=True)
merge6 = pd.merge(merge5, final[7],left_index=True, right_index=True)
merge7 = pd.merge(merge6, final[8],left_index=True, right_index=True)
merge8 = pd.merge(merge7, final[9],left_index=True, right_index=True)
merge9 = pd.merge(merge8, final[10],left_index=True, right_index=True)

# creating 'All' column
all_ff = merge9.iloc[0,:].sum()
all_less = merge9.iloc[1,:].mean()
all_more = merge9.iloc[2,:].mean()
allf = pd.DataFrame([all_ff, all_less, all_more])
allf = round(allf, 1)
allf.index = merge9.index

merge9 = pd.merge(merge9, allf ,left_index=True, right_index=True)

In [28]:
# transposing so that its facing the right way
final_mergef = merge9.T

#adding names to columns
final_mergef.columns = ['All employed (number of observations)','Prefer to work less (%)', 'Prefer to work more (%)']

In [32]:
#again narrowing to full time males 
ftm = [ft[i][ft[i].iloc[:, -1] == '[1] Male'] for i in range(11)]

#looking at just the jbhrcpr variable 
ftm1 = [ftm[i].filter(regex='jbhrcpr$') for i in range(11)]

#getting a count for every variable
ftm1 = [pd.DataFrame(ftm1[i].iloc[:,0].value_counts()) for i in range(11)]

#getting total number of observations
total = [ftm1[i].sum() for i in range(11)]
total = [pd.DataFrame(total[i]) for i in range(11)]
total = [total[i].T for i in range(11)]

# working out percentages
percent = [pd.DataFrame(ftm[i].iloc[:,0].value_counts(normalize=True))*100 for i in range(11)]
percent = [round(percent[i], 1) for i in range(11)]

#dropping unwanted responses
percent2 = [percent[i].drop(['[-1] Not asked', '[-1] Not asked', '[-10] Non-responding person', '[2] About the same', '[-3] Dont know', '[-4] Refused/Not stated'], errors='ignore') for i in range(11)]
#adding total into table
final = [pd.concat([total[i], percent2[i]]) for i in range(11)]

#doing a manual merge for now :/
merge0 = pd.merge(final[0], final[1], left_index=True, right_index=True)
merge1 = pd.merge(merge0, final[2],left_index=True, right_index=True)
merge2 = pd.merge(merge1, final[3],left_index=True, right_index=True)
merge3 = pd.merge(merge2, final[4],left_index=True, right_index=True)
merge4 = pd.merge(merge3, final[5],left_index=True, right_index=True)
merge5 = pd.merge(merge4, final[6],left_index=True, right_index=True)
merge6 = pd.merge(merge5, final[7],left_index=True, right_index=True)
merge7 = pd.merge(merge6, final[8],left_index=True, right_index=True)
merge8 = pd.merge(merge7, final[9],left_index=True, right_index=True)
merge9 = pd.merge(merge8, final[10],left_index=True, right_index=True)

#gettting all column, adding to merge
all_m = merge9.iloc[0,:].sum()
all_less = merge9.iloc[1,:].mean()
all_more = merge9.iloc[2,:].mean()
allm = pd.DataFrame([all_m, all_less, all_more])
allm = round(allm, 1)
allm.index = merge9.index
merge9 = pd.merge(merge9, allm, left_index=True, right_index=True)

# transposing so that its facing the right way
final_mergem = merge9.T

#adding names to columns
final_mergem.columns = ['All employed (number of observations)','Prefer to work less (%)', 'Prefer to work more (%)']

final_table2 = pd.concat([final_mergem, final_mergef], axis=1)

final_table2.index = [ '2001 (1)', '2002 (2)', '2003 (3)', '2004 (4)', '2005 (5)', '2006 (6)', '2007 (7)', '2008 (8)', '2009 (9)', '2010 (10)', '2011 (11)', 'All']

final_table2

,All employed (number of observations),Prefer to work less (%),Prefer to work more (%),All employed (number of observations),Prefer to work less (%),Prefer to work more (%)
2001 (1),3797.0,34.9,9.7,2001.0,43.3,5.1
2002 (2),3575.0,36.8,9.0,1873.0,41.0,4.8
2003 (3),3524.0,36.6,7.5,1873.0,41.3,3.2
2004 (4),3441.0,36.1,7.9,1836.0,43.1,3.6
2005 (5),3587.0,34.7,8.1,1970.0,43.5,4.2
2006 (6),3579.0,34.6,7.3,2055.0,41.8,4.2
2007 (7),3565.0,33.5,7.0,2104.0,42.7,3.0
2008 (8),3635.0,32.0,8.0,2092.0,40.0,3.5
2009 (9),3686.0,32.1,8.1,2104.0,38.9,4.1
2010 (10),3731.0,29.7,8.7,2128.0,40.3,4.9
2011 (11),4794.0,30.4,9.3,2716.0,39.7,3.9
All,40914.0,33.8,8.2,22752.0,41.4,4.0